@import url('https://fonts.googleapis.com/css?family=Roboto');
div#quad {
  background-color: #000;
  font-size: 0; width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}
th, td {
    border-bottom: 2px solid #ddd;
}

.biga{
  padding-left:30px;
  padding-bottom:30px;
  padding-top:30px;
  color:#000;
}

.dudas{
  padding-top: 35px;
  text-align:left;
  padding-left: 30px;
  color:#000;
  font-size: 20px;
}
.full {
  display:table;
  width: 90%;
  color:#000;
  margin-bottom:30px;
}
.left {
  display: table-cell;
  width: 20%;
  height: 150px;
  background-color:#f6f6f6;
  vertical-align: middle;
}
.right {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  height: 150px;
  background-color:#f6f6f6;
}
.lefta {
  display: table-cell;
  width: 20%;
  height: 150px;
  background-color:
  vertical-align: middle;
}
.leftb {
  display: table-cell;
  width: 20%;
  height: 150px;
  background-color:#f6f6f6;
  vertical-align: middle;
}
.leftc {
  display: table-cell;
  width: 20%;
  height: 150px;
  background-color:#f6f6f6;
  vertical-align: middle;
}
.leftd {
  display: table-cell;
  width: 20%;
  height: 150px;
  background-color:#f6f6f6;
  vertical-align: middle;
}
.textinfo{
  padding-left:30px;
  size:10px;
  padding-right:30px;
}
.textinfoo{
  padding-left:30px;
  font-size:20px;
  padding-right:30px;
}
.persona {
  width:100%;
  height:100%;
}
.cajao{
  max-width: 90%;
  color:#000;
  background-color:#f6f6f6;
  height:100px;
}
.cajaa{
  max-width: 90%;
  background-color:#f6f6f6;
  color:#000;
  height:100px;
}

.cajaaa{
  vertical-align: middle;
}
.cajab{
  max-width: 90%;
  background-color:#f6f6f6;
  color:#000;
  height:100px;
}
.cajac{
  max-width: 90%;
  background-color:#f6f6f6;
  color:#000;
  height:100px;
}
.cadad{
  max-width: 90%;
  background-color:#f6f6f6;
  color:#000;
  height:100px;
}


.big{
  color:#000;
  font-family: Roboto;
}
div#quad figure {
  margin: 0; width: 50%;
  height: auto; transition: 1s;
  display: inline-block;
  position: relative; overflow: hidden;
}
div#quad figure:hover { cursor: pointer; z-index: 4; }
div#quad figure img { width: 100%; height: auto; }
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top right; }
div#quad figure:nth-child(3) { transform-origin: bottom left; }
div#quad figure:nth-child(4) { transform-origin: bottom right; }
div#quad figure figcaption {
  margin: 0; opacity: 0;
  background: rgba(0,0,0,0.3);
  color: #fff; padding: .3rem;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0; width: 100%;
	transition: 1s 1s opacity;
}
.button {
    display: inline-block;
    border: none;
    padding: 1rem 70px;
    margin: 0;
    text-decoration: none;
    background: #282c34;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:focus {
    background: #0053ba;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}
.map{
  max-width: 80%;
  max-height: 80%;
  border:5px solid black;
}
.dias{
  padding-left:60px;
  padding-bottom:20px;
  color:#004d40;
}
.datee {
  color: #000;
  font-size: 15px;
}
.diass{
  padding-left:60px;
  padding-top:20px;
  padding-bottom:20px;
  color:#004d40;
}
.fiz {
position:relative;
z-index:1000;
}
.container nav.desk,
.container nav.mob{
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  background:#ffffff;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}
nav.desk ul {
  list-style: none;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}
nav.desk ul li {
  width: 20%;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
nav.desk ul li:hover,
nav.mob ul li:hover{
  background:#E6E6FA;
}
nav.desk ul li.active,
nav.mob ul li.active{
  background:#E6E6FA;
}
nav ul li a {
  color: #000;
  text-decoration: none;
}
.mob,
.hamburger-btn {
  display: none;
}
@media screen and (max-width: 700px) {
  nav.desk {
    display: none;
  }
  nav.mob,
  .hamburger-btn {
    display: block;
  }
  .hamburger-btn {
    position: relative;
  }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    position: fixed;
    right: 25px;
    top: 15px;
    font-size: 35px;
    color: #000;
    cursor: pointer;
  }
  .mob ul{
    margin-top: 60px;
    background:#ffffff;
    display: none;
  }
  .mob li {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .mob ul.active {
    display: block;
  }
}
.programa{
  background-color:#000;
}
.loguitos{
  max-width:100%;
  max-height:100%;
}
.novee{
  background-color:#D0F0C0;
  font-size: 140%;
  font-family: Roboto;
}
.noveee{
  background-color:#F5F5DC;
  font-size: 140%;
  font-family: Roboto;
}
.noveeee{
  background-color:#FFFDD0;
  font-size: 140%;
  font-family: Roboto;
  width:auto;
}
.noveeeee{
  background-color:#eaeef4;
  font-size: 140%;
  font-family: Roboto;
  width:auto;
}
.novaaaa{
  background-color:#bac8c9;
  font-size: 140%;
  font-family: Roboto;
  width:auto;
}


.nove{
  background-color:#fff;
  font-size: 110%;
  font-family: Roboto;

}
.novea{
  background-color:#ffffff;
  max-width:100px;
}
.nova{
  background-color:#D0F5A9;
}
.novaa{
  background-color:#D0F5A9;
}
table {
    font-family: Roboto, sans-serif;
    border-collapse:collapse;
    max-width:90%;
    font-size:10px;
    background-color:#ffffff;
    color:black
}
.espaciador{height:30px;
background-color:#ede7f6;}
td, th {
    text-align: left;
    padding:10;
}
.worka{
  background-color:#fff;
  max-width: 50%;
  padding:15px;
  margin-top: 60px;
}
.patros{
  max-width:100%;
}
.banner{max-width:70%;
  padding-bottom:40px;
}
.letras{
  padding-top:20px;
  padding-left: 30px;
  padding-bottom:20px;
}
.letrasss{
    color:#000;
    padding-top:20px;
    padding-left: 30px;
    padding-bottom:20px;
}
.letrass{
  color:#000;
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
      user-select: none;
}
  body {
    background-color:#282c34;
    background-size: cover;
    color: #fff;
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}
header {
    margin: 0 auto;
    text-align: center;
    color:#000;
    background:#282c34;
}
.aviso_registro{

}
.supertop{
  height:10%;
}
.pequena{
  font-size:13px;
}
.mini{
  max-width:200px;
}
.minii{
  max-width: 100%;
}
.texto{
  padding-top:20px;
  padding-left:30px;
}
.texto_registro{
  padding-top:;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
  color:#000;
  font-family: "Roboto";
}
.top{
  background-color:#000000;
  height:30px;
}
.logodna{
  width: 100%;
  max-width:800px;
}
.ontop{
  max-width:90%;
  background: #ffffff;
  padding-bottom:60px;
}
.ontopmap{
  max-width:90%;
  background:#F7FBFA;
  padding-bottom:60px;
}
.ontopregis{
  max-width:90%;
  background:#FBFDFB;
  padding-bottom:60px;
}
.ontopcartel{
  max-width:90%;
  background:#FFFAEA;
  padding-bottom:60px;
}
.cuerpo{color:#000000;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 60px;
text-align: justify;
 }

.final{
  width: 100%;
background-color:#282c34;
height:200px;
}

.date{
  font-size:35px;
  color:red;
}
.topicos{
  background-color:#F5F5DC;
}
.dates{
  padding-left:40px;
  font:black;
}
.biotecno{
  display:block;
}
.infor{
  max-width:90%;
      background: #bed1d8;
}
.infot{
  text-align:left;
}
.imag{
  max-width:80%;
  max-height:80%;
  border-top:10px solid #6593F5;
}
.programa{
  background-color:#ede7f6;
    max-width:100%;
}
.asociados{
  background-color:#ffffff;
  max-width:100%;
}
#rig {
    max-width:600px;
    margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
    background-color:#F5F5DC;
    padding-bottom:60px;
}
#rig li {
    display: inline-block;
    *display:inline;
    width:40%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
    justify-content: space-between;
}
.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
    justify-content: space-between;
}
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}
#rig li:hover .rig-img {
    transform:scale(1.05);
}
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000000;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}
.rig-text {
    display:block;
    padding-top:17px;
    box-sizing:border-box;
    position:absolute;
    left:1;
    width:100%;
    text-transform:capitalize;
    font-size:12px;
    text-align:center;
    vertical-align: center;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    font-weight:normal!important;
    top:80%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(-20px);
    opacity:0.8;
}

@media (max-width:9000px) {
    #rig li {
        width:33.33%;
    }
}
.link{
  color:white;
  text-decoration: none;
}
.link:visited{
  color:white;
}
.link:hover{
  color:white;
}
.link:active{
  color:white;
}
@media (max-width:300px) {
    #rig li {
        width:33.33%;
    }
}
@media (max-width:800px) {
    #rig li {
        width:33.33%;
        padding-left:10px;
        padding-right:10px;
    }
}
@media screen and (max-width: 800px) {
  div.letrass {
    font-size:18px;
  }
}
